{% extends "superadmin/base_generic.html" %}

{% block head_ext %}



{% endblock head_ext %}

{% block main %}

<div class="py-10">

    <a class="text-black font-medium text-m " href="{% url 'admin-category-create' %}">Создать категорию</a>
</div>

<div class="">
    <h2 class="text-center text-xl font-bold my-4">Категории</h2>
    <div class="flex flex-wrap gap-4">

        {% if categories %}

        {% for category in categories %}
        <div class="relative block group  px-4 py-2 w-80 cursor-pointer"
            >

            <a class=" font-medium text-m px-5 py-2.5  "
                href="{% url 'admin-category-delete' pk=category.id %}">удалить</a>

            {{category}}

        </div>
        {% endfor %}

        {% else %}
        <div class="flex-1">
            <p class="text-center font-medium">Нет категорий...</p>
        </div>

        {% endif %}

    </div>
</div>

{% endblock %}