<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>заявки</title>
    {% endblock %}
    {% block head_ext %}
    {% endblock head_ext %}
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-screen">
    <div class="">
        <footer class="flex justify-between items-center px-4 py-2">
            <a class="text-2xl text-black-600 font-bold" href="{% url 'index' %}">Главная</a>



            <div class="text-xl py-10 px-5">
                {% if user.is_authenticated %}
                    <a class="text-black " href="{% url 'myapplication' %}">Мои Заявки</a><br>

                {% endif %}

                {% block header %}

                {% endblock header %}
            </div>

            <div class="">
                {% if user.is_authenticated %}

                <a type="button" class="text-black font-medium  text-m  "
                    href="{% url 'logout' %}">Выйти из аккаунта</a>


                {% else %}


                <a type="button" class="text-black font-medium rounded-lg text-sm px-5 py-2.5"
                    href="{% url 'login' %}">Авторизоваться</a>
                <a type="button" class="text-black font-medium rounded-lg text-sm px-5 py-2.5"
                    href="{% url 'register' %}">Регистрация</a>

                {% endif %}
            </div>
        </footer>


        <main class="flex-1 px-4">
            {% block main %}
            {% endblock main %}
        </main>
        <footer class="px-4">
            {% block footer %}
            {% endblock footer %}
        </footer>
    </div>
</body>
</html>