{% extends "base_generic.html" %}

{% block header %}

{% endblock header %}

{% block main %}




<div class="">
    <h2 class="text-left text-xl font-bold my-10">{{accept_applications_count}} принято в работу</h2>

</div>

<div class="">
    <h2 class="text-left text-xl font-bold my-10">выполнено</h2>
    <div class="flex flex-wrap gap-4">

        {% if done_applications %}
        {% for app in done_applications %}
        <div class="bg-gray-100/50 rounded-lg px-4 py-2 w-80">
            <img class="mx-auto max-h-52" src="{{app.image.url}}" alt="Application image">

            {{app.created_at}}
            <p class="">
                <b>Название:</b>
                <span class="">{{app.name}}</span><br>
                <b>Категория:</b>
                <span class="">{{app.category}}</span>
            </p>
        </div>
        {% endfor %}

        {% else %}
        <div class="flex-1">
            <p class="text-center font-medium">заявок нет</p>
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}